.navbar {
    display: flex;
    justify-content: flex-end;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

html {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#logo {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#logo a {
    text-decoration: none;
    color: black;
}

body {
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: #f0f0f0;
    font-size: large;
}

.hero {
    display: flex;
    padding: 3rem 1rem 0 1rem;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

img {
    padding-left: 5rem;
    border-radius: 50%;
}

.hero .hero-paragraph {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-left: 4rem;
    flex-grow: 1;
}

.overview h2 {
    text-align: start;
    padding-bottom: 1rem;
}

.overview {
    padding: 3rem 7rem; /* Add uniform padding */
}

.overview p {
    padding-bottom: 0.5rem;
}

.overview ul {
    padding-top: 0.8rem;
}

.overview .span {
    display: flex;
    justify-content: space-between;
}

.overview .experience {
    padding-bottom: 1rem;
}

.footer {
    display: flex;
    justify-content: space-between; /* Center items on the footer */
    background-color: white;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; /* Allow wrapping */
}

.footer .links {
    padding-left: 17rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.footer .links div {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}


.footer .logo {
    display: flex;
    justify-content: flex-start;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer a:hover {
    background-color: #f0f0f0;
}

.copyright {
    text-align: center;
    padding-top: 2rem;
}

.content {
    flex: 1; /* This allows the content area to grow */
}
.overview .group {
    margin-bottom: 2rem;
}
.overview .group h3{
    margin-bottom: 2rem;
}

.menu-btn {
    display: none;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 767px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 0.9rem;
    }

  
    .hideOnMobile {
        display: none;
    }
    .menu-btn {
        display: flex;
        width: 80%;
        padding-right: 1rem;
    }

    .hero {
        flex-direction: column; /* Stack hero elements */
        align-items: center; /* Center items */
    }

    img {
        padding: 0;
        max-width: 100%;
        height: auto;
    }

   
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer .links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 2rem;
        gap: .5rem;
    }

    .overview {
        padding: 1rem; /* Reduce padding */
        width: 100%; /* Full width */
    }

    .overview p {
        margin: 0; 
        padding: 0 2rem; /* Consistent padding */
    }

    .hero .hero-paragraph {
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .content {
        display: flex;
        flex-direction: column; /* Stack content vertically */
        align-items: center; /* Center content */
        max-width: 90%; /* Make it a bit smaller */
        margin: 0 auto; /* Center content */
        
    }

    .content li, .content p, .content span, .content h2 {
        text-align: center;
        width: 100%; /* Full width for smaller screens */
    }
    .content li {
        margin-bottom: 3rem;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(201, 201, 201, 0.719);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}